p + p {
    color: red;
}

.button{
    display: flex;
    border-style: solid;
    justify-content:center;
    align-items: center;
    height: 3vw;
    width: 15vw;
    text-decoration:none;
    color:black;
}

h2#counter{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 1.4vw;
    width: 15vw;
}

.button p {
    font-size: 1.2vw;
}
